<!DOCTYPE html>
<html>
<head>
	<title>Dados</title>
</head>
<body>
	<div>
		<p>
			<strong>ID:</strong> <%- data.id -%>
		</p>
		<p>
			<strong>ISSN:</strong> <%- data.issn -%>
		</p>
		<p>
			<strong>Traduzido: </strong> <%- data.estrato -%>
		</p>
	</div>
</body>
</html>
